<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vue3</title>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <h3>{{ message }}</h3>
      <div class="main">
        <div class="input-container">
          <input
            v-model="text"
            class="add-text"
            type="text"
            id="name"
            name="name"
            required
            maxlength="10"
            placeholder="文字を入力して下さい"
          />
          <button class="add-btn" type="button" @click="submit">追加</button>
        </div>

        <div
          class="list-container"
          v-for="(item, index) in textList"
          :key="item.id"
        >
          <button class="delete-btn" type="button" @click="deleteItem(index)">
            X
          </button>
          <div class="text-content">
            <ul>
              <li>{{ item.text }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            message: "Vue.js(3系)で作るtodoアプリ",
            text: "",
            textList: [
              { id: 0, text: "aaaa" },
              { id: 1, text: "bbbb" },
            ],
          };
        },
        methods: {
          submit() {
            if (this.text === "") {
              return;
            }
            if (this.text.length > 10) {
              return;
            }
            this.textList.push({
              text: this.newTodoText,
              text: this.text,
            });

            this.initialize();
          },

          deleteItem(index) {
            this.textList.splice(index, 1);
          },

          // 初期化
          initialize() {
            this.text = "";
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
