h3 {
  text-align: center;
  color: navy;
}

.main {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.input-container {
  width: 300px;
}

.input-container .add-text {
  width: 240px;
  height: 30px;
  padding: 0;
  border-color: navy;
  border-width: 1px;
  float: left;
}

.input-container .add-btn {
  width: 50px;
  height: 32px;
  padding: 0;
  text-align: center;
  background: navy;
  border-color: navy;
  color: white;
  border-width: 1px;
  float: right;
}

.list-container {
  margin-top: 40px;
  width: 300px;
}

.list-container .delete-btn {
  width: 50px;
  height: 50px;
  padding: 0;
  text-align: center;
  background: navy;
  border-color: navy;
  color: white;
  border-width: 1px;
  float: left;
  border-right: none;
}

.list-container .text-content {
  width: 248px;
  height: 48px;
  float: right;
  border: 1px solid;
  border-color: navy;
}

::placeholder {
  padding-left: 10px;
}

.add-btn:hover {
  background: blue;
}

.delete-btn:hover {
  background: blue;
}

ul {
  list-style: none;
  color: navy;
  margin-bottom: 5px;
}
